body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.students-cards {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}
.card {
	background-color: rgb(240, 240, 240);
	border-radius: 12px;
	list-style: none;
	padding: 16px;
}
.card img {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.student-form {
	display: flex;
	flex-direction: column;
	gap: 4px;
	border: 1px solid rgb(112, 112, 112);
	padding: 10px;
	border-radius: 12px;
}
