<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Popular Cars</title>
	</head>
	<body>
		<link rel="stylesheet" href="/public/css/style.css" />
		<h1>Welcome to our website</h1>
		<navbar>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/fast-cars">Fast cars</a>
				</li>
				<li>
					<a href="/popular-cars">Popular cars</a>
				</li>
				<li>
					<a href="/trucks">Trucks</a>
				</li>
			</ul>
		</navbar>
		<script src="/public/js/script.js"></script>
		<script>
			console.log("hello from the server");
		</script>
	</body>
</html>
