<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books library</title>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body class="flex flex-col gap-4">


    <!--  -->
    <h1 class="text-3xl font-bold ">Library Management</h1>
    <h3 class="text-xl font-bold">Library's users</h3>
    <nav>
        <a href="/users/add">Add a user</a>
    </nav>
    <div class="flex flex-wrap">
        <% users.forEach((user)=> {%>
            <%- include("components/user-card",{user}) %>
                <%}) %>

    </div>
    <h3 class="text-xl font-bold">Library's books</h3>
    <nav>
        <a href="/books/add">Add a book</a>
    </nav>
    <div class="flex flex-wrap">
        <% books.forEach((book)=> {%>
            <%- include("components/book-card",{book}) %>
                <%}) %>

    </div>
</body>

</html>